.ocultar{
	display: none !important;
}

.mostrar{
	display: block !important;
}


body {

 overflow: auto;

}

.textarea_estile {
    min-height: 100px;
    min-width: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100px;
    margin: 0px;
}

